USE [master]
GO
/****** Object:  Database [Customer]    Script Date: 3.06.2022 21:28:36 ******/
CREATE DATABASE [Customer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Customer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Customer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Customer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Customer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Customer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Customer]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3.06.2022 21:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [bigint] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Gender], [Age], [PhoneNumber]) VALUES (1, N'Emre', N'Güzel', N'Male', 24, N'123456789')
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Gender], [Age], [PhoneNumber]) VALUES (2, N'Muhammed', N'Taşkıran', N'Male', 20, N'854651618')
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Gender], [Age], [PhoneNumber]) VALUES (9, N'Caner', N'Karaüzüm', N'Male', 32, N'545451268')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
